.map {
  width: 1024px;
  height: 919px; /* 지도 높이 조정 */
  position: relative;
}

.info-box-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 150px; /* 팝업 최대 높이 설정 */
}

.info-box-bottom .mountain-card {
  display: contents;
  align-items: center;
}

.info-box-bottom .mountain-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.info-box-bottom .mountain-info {
  flex-grow: 1;
}

.info-box-bottom .mountain-title {
  font-size: 14px;
  font-weight: bold;
}

.info-box-bottom .mountain-location {
  font-size: 12px;
}

.info-box-bottom .mountain-height {
  font-size: 12px;
}

.info-box-bottom .mountain-selection-reason {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 한 줄까지만 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-bottom .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.info-box-bottom .detail-button, .info-box-bottom .review-button, .info-box-bottom .close-button {
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.info-box-bottom .detail-button {
  background-color: #4CAF50;
  color: white;
}

.info-box-bottom .review-button {
  background-color: #03A9F4;
  color: white;
}

.info-box-bottom .close-button {
  background-color: #E74C3C;
  color: white;
}
