.mReview-feed-page {
  position: relative;
  padding: 10px 0 100px;
}

.mReview-post-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 24px;
  padding: 20px;
}

.create-mReview-post-button-fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.mReview-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mReview-search-input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.mReview-search-input:focus {
  border: 2px solid #8caa63;
  outline: none; 
}

.mReview-scroll-top-button {
  position: fixed;
  bottom: 130px;
  right: 76px;
  z-index: 1000;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 30px;
}

.mReview-scroll-top-button:hover {
  background-color: #f0f0f0;
  border-radius: 30px;
}