/* 전체 레이아웃 */
.mountain-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* 검색창 스타일 */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  border: 2px solid #007bff;
  border-radius: 25px;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #aaa;
}

/* 산 목록 그리드 */
.mountain-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 두 개씩 배치 */
  /* grid-template-columns: repeat(2, minmax(300px, auto)); 한 줄에 두 개의 카드 */
  gap: 20px; /* 카드 간격 */
  grid-auto-rows: 1fr;
}

.mountain-card {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 상단 이미지와 하단 텍스트 간격 균일화 */
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* 가로 세로 비율 유지 */  
  background-size: cover;
  background-position: center;    
}

.card-content {
  flex-grow: 1; /* 텍스트 영역이 남은 공간을 채우도록 설정 */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 텍스트와 버튼 그룹 간격 균등 분배 */
  text-align: left;
}

.card-content h3 {
  /* margin: 0;
  font-size: 18px; */
  margin-bottom: auto;
}

.card-content p {
  /* margin: 5px 0; */
  margin-top: auto;
}

.no-results {
  text-align: center;
  font-size: 18px;
}



.loading-message p {
  margin-top: 10px;
}

.button-group {
  display: flex; /* 버튼들을 가로로 나란히 배치 */
  justify-content: center; /* 버튼들을 가운데 정렬 */
  gap: 10px; /* 버튼 간격 설정 */
  margin-top: 10px; /* 버튼 그룹 상단 여백 */
}

.detail-button,
.review-button,
.close-button {
  display: inline-flex; /* Flexbox를 사용하여 텍스트를 중앙에 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 170px; /* 버튼 너비 고정 */
  height: 40px; /* 버튼 높이 고정 */
  background-color: #3498db; /* 기본 파란색 (상세 보기) */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}


.review-button{
  background-color: #4CAF50; /* 초록색 계열 */
}

.close-button{
  background-color: #f9b32e; /* 노란색 계열 */
}
